* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(243, 237, 237);
    overflow-x: hidden;
}
header { 
    display: flex;
    background: linear-gradient(to right, #8f058f, black, black);
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: none;
}
.header-right-button {
    display: flex;
    align-items: center;
}
.page-tittle {
    display: none;
}
.buscador-header {
    display: none;
}
.go-button {
    background: none;
    border-radius: 12px;
    border: none;
}
.perfil-button {
    color: white;
    background: #8f058f;
    border-radius: 10px;
    padding: 1px;
    width: 100px;
    font-size: 24px;
    border: solid black 1px;
}
.log-out-button {
    color: white;
    background: #8f058f;
    border-radius: 10px;
    padding: 1px;
    width: 120px;
    font-size: 24px;
    border: solid black 1px;
    margin-left: 14px;
}
h1 {
    display: none;
}
.aside-left {
    display: none;
}
.aside-right {
    display: none;
}
.input-add-publicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 16px;
    background-color: #8f058f;
    padding: 10px;
}
.publica-tu-estado {
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    width: 86%;
    padding: 15px;
    margin-top: 3%;
    font-size: 48px;
}
.buttons-emotions {
    display: flex;
    margin-top: 3px;
    margin-bottom: 16px;
}
.happy {
    width: 120px;
    background: #dfdf0c;
    font-size: 70px;
    border-radius: 16px;
    border: 2px solid #dfdf0c;
    padding: 10px;
}
.angry {
    width: 120px;
    background: #6b0606;
    border: 2px solid #6b0606;
    font-size: 70px;
    border-radius: 16px;
    margin-left: 16px;
}
.lucky {
    background: green;
    border: 2px solid green;
    width: 120px;
    font-size: 70px;
    border-radius: 16px;
    margin-left: 16px;
}
.sad {
    width: 120px;
    background:blue;
    border: 2px solid blue;
    font-size: 70px;
    border-radius: 16px;
    margin-left: 16px;
}
.funny {
    width: 120px;
    background:pink;
    border: 2px solid pink;
    font-size: 70px;
    border-radius: 16px;
    margin-left: 16px;
}
.love {
    width: 120px;
    background:#ff9be6;
    border: 2px solid #ff9be6;
    font-size: 70px;
    border-radius: 16px;
    margin-left: 16px;
}
.filter-button {
    background: #8f058f;
    border: solid #8f058f 1px;
    border-radius: 10px;
    padding: 15px;
    width: 85px;
    margin-left: 89%;
}
.posting-area {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    border-radius: 10px;
    margin: 25px;
    background: white;
}
.container-post {
    width: 100%;
    text-align: left;
    padding: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
footer {
    display: flex;
    flex-direction: column;
    background: black;
}
.footer-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 48px;
    margin-top: 8px;
}
.footer-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-info {
    color: white;
    font-size: 32px;
}
.footer-button-1 {
    margin-left: 100px;
    color: white;
    background: #8f058f;
    border-radius: 7px;
    padding: 1px;
    font-size: 24px;
    border: solid black 1px;
}
.footer-button-2 {
    color: white;
    background: #8f058f;
    border-radius: 7px;
    padding: 1px;
    font-size: 24px;
    border: solid black 1px;
}
@media (min-width: 1366px) {
    header { 
        padding: 16px;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        width: 50px;
        border-radius: 10px;
    }
    .go-button {
        display: none;
    }
    .page-tittle {
        display: flex;
        background: none;
        font-size: 36px;
    }
    .buscador-header {
        display: flex;
        margin-right: 200px;
        width: 600px;
        border-radius: 10px;
        padding: 13px;
    }
    .perfil-button {
        width: 80px;
        font-size: 16px;
    }
    .log-out-button {
        width: 90px;
        height: 40px;
        font-size: 16px;
    }
    h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
        font-size: 30px;
        margin-top: 10px;
        border-radius: 15px;
        padding: 0;
        width: 100%;
        background: #8f058f;
    }
    main {
        display: flex;
        justify-content: space-between;
    }
    .main-container {
        width: 850px;
        margin-left: 75px;
        margin-top: 5px;
    }
    .input-add-publicacion {
        border-radius: 10px;
        margin: 16px;
        padding: 16px;
        width: 800px;
    }
    .publica-tu-estado {
        display: flex;
        width: 85%;
        padding: 1px;
        margin-top: 3%;
    }
    .buttons-emotions {
        display: flex;
        margin-bottom: 16px;
    }
    .happy {
        width: 95px;
        margin-left: 16px;
        font-size: 40px;
    }
    .angry {
        width: 95px;
        margin-left: 16px;
        font-size: 40px;
    }
    .lucky {
        width: 95px;
        margin-left: 16px;
        font-size: 40px;
    }
    .sad {
        width: 95px;
        margin-left: 16px;
        font-size: 40px;
    }
    .funny {
        width: 95px;
        margin-left: 16px;
        font-size: 40px;
    }
    .love {
        width: 95px;
        margin-left: 16px;
        font-size: 40px;
        margin-right: 10px;
    }
    .filter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 85%;
        height: 50px;
    }
    .aside-right {
    display: grid;
    padding: 150px;
    background: white;
    border-left: solid 2px black;
    }
  }
  @media (min-width: 1600px) {
    header { 
        padding: 3px;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        width: 50px;
        border-radius: 10px;
    }
    .buscador-header {
        width: 700px;
    }
    h1 {
        padding: 3px;
    }
    .main-container {
        width: 1050px;
    }
    .input-add-publicacion {
        width: 1000px;
    }
    .publica-tu-estado {
        width: 99%;
    }
    .happy {
        margin-left: 16px;
    }
    .angry {
        margin-left: 48px;
    }
    .lucky {
        margin-left: 48px;
    }
    .sad {
        margin-left: 48px;
    }
    .funny {
        margin-left: 48px;
    }
    .love {
        margin-left: 48px;
        margin-right: 10px;
    }
    .filter-button {
        margin-left: 89%;
    }
    .aside-right {
    padding: 200px;
    }
  }
  @media (min-width: 1900px) {
    header { 
        padding: 8px;
    }
    .buscador-header {
        margin-right: 300px;
        width: 800px;
    }
    .main-container {
        width: 1250px;
    }
    .page-tittle {
        margin-right: 00px;
    }
    .input-add-publicacion {
        margin: 16px;
        padding: 16px;
        width: 1200px;
    }
    .publica-tu-estado {
        margin-right: 100px;
        width: 90%;
    }
    .happy {
        width: 95px;
        font-size: 40px;
    }
    .angry {
        margin-left: 84px;
    }
    .lucky {
        margin-left: 84px;
    }
    .sad {
        margin-left: 84px;
    }
    .funny {
        margin-left: 84px;
    }
    .love {
        margin-left: 84px;
        margin-right: 175px;
    }
    .filter-button {
        margin-left: 91%;
    }
    .aside-right {
    padding: 275px;
    }
  }